<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
  <div class="card-group">
  <div class="card" style="width:18rem;">
    <%= image_tag user.avatar, class:"card-img-top",alt:"Card image cap" %></div>
    <div class="card-body">
    <h4 class="card-title"><%= user.name %></h4>
      <p class="card-text"><%= user.profile%></p>
      <button class="btn btn-info">
        <%= link_to '詳細', "/users/#{user.id}"%>
　　　　</button>
      <div class="row">
        <div class="col-md">
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>

<button class="btn btn-primary">マッチング済</button>
<button class="btn btn-primary">いいね済</button>
<button class="btn btn-primary">いいねされた</button>
