  <div class="top-message" style="padding-top:400px; text-align:center;">
    <h2>社内恋愛はじめます</h2>
    <p>
    <%= link_to 'Company-loveをはじめる',new_user_registration_path,class:"btn btn-primary btn-lg",role:"button" %>
    </p>
  </div>
