.jumbotron{
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url("/christiana-rivers-3_mQjo4Vb6A-unsplash.jpg") no-repeat center center;
  background-size: cover;
}

.notice {
  background-color: lightblue;
  color: white;
  text-align: center;
}

.alert {
  background-color: orangered;
  color: white;
  text-align: center;
}

.card {
  min-width: 220px;
  max-width: 270px;
  margin-bottom: 10px !important;
  margin: auto;
}
.sidebar {
  min-height: 500px;
}