.jumbotron{
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url("/christiana-rivers-3_mQjo4Vb6A-unsplash.jpg") no-repeat center center;
  background-size: cover;
}

.notice {
  background-color: lightblue;
  color: white;
  text-align: center;
}

.alert {
  background-color: orangered;
  color: white;
  text-align: center;
}

.main users-index{
  margin: 0 auto;
}


.card {
  margin-bottom: 30px !important;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}